/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*mobiel code*/
body {
    font-family: "The Sims Sans";
    margin: 0;
    position: relative;
}

ul {
    list-style: none;
    text-decoration: none;
}

a:focus {
    color: green;

    transform: rotate(14deg);
    outline: none;
    border-style: none;
}

button:focus {
    color: green;
    transform: scale(1.1);
    transform: rotate(14deg);
    outline: none;
    border-style: none;

}

header button:focus {


    transform: rotate(0deg);
    outline: none;
    border-style: none;

}

header {
    font-family: "BentonSans Regular";
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding: .5em;
    background-color: white;
    z-index: 1;

}

.burger {
    background-image: url(../images/kruisjemenu.png);
    background-repeat: no-repeat;



}

header nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1;
    transition: all 250ms ease;
    transform: translateY(-50vh);

}

header button {
    background-image: url('../images/burgermenu.png');
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    background-color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    top: 1.6em;

}



header button {
    outline: none;
    border-style: none;
}

header nav ul {

    top: 0;
    background-color: white;

    right: 0;
    left: 0;

}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}



header nav li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    padding-right: 22em;
    padding-bottom: 2em;
    text-decoration: none;
    font-size: .8em;
    border-top: solid .01em grey;
    margin-left: 1em;


}

header nav li a:hover {
    color: blue;
    display: block;
}

header nav.menu {
    display: flex;
    justify-content: left;
    transform: translateY(.5vh);
    background-color: white;



}



/*dit is de driehoek*/
.driehoek {
    /*    display: block;*/
    position: absolute;
    width: 100%;
    height: 0;
    border-top: solid 100px transparent;
    border-right: solid 800px #1500b3;
    /*border-bottom:solid 100px transparent;*/
    border-left: solid transparent;
    top: 8%;
}

main section:first-child {
    background-color: #1500b3;
    display: block;

}

main section:first-of-type img:nth-child(1) {
    background-image: url(https://data4.origin.com/asset/content/dam/originx/web/app/games/the-sims/the-sims-4/BYOB/TS4_byob_newdesign_ep7_store_hero_en_ww_bg.jpg/f0166188-a5c1-4dc0-80bb-f2ca2cb7949c/original.jpg);
    margin-top: 12%;
    width: 100%;




}

main section:first-of-type article:first-of-type {
    margin-top: auto;

}

main section:first-of-type article:nth-of-type(2) img {

    background-color: #1500b3;
    background-image: none;
    padding: 2em;

}

main section:first-of-type article {
    background-color: #1500b3;
    margin-top: -10em;

}

main section:first-of-type {
    padding-bottom: 2em;

}




main section:nth-of-type(1) a {
    display: block;
    text-align: center;
    background-color: #1500b3;
    color: white;
    font-family: "BentonSans Book";
    margin: 1em;
    padding: 1em;
    width: 80%;
    border: solid white .2em;
    border-radius: 6px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;

}

main section:nth-of-type(1) a:hover {

    transform: scale(1.1);

    transition: .1s;
}

main section:nth-of-type(2) a:hover {

    transform: scale(1.1);

    transition: .1s;
}

main section:nth-of-type(2) a {
    display: block;
    text-align: center;
    background-color: #2b00ff;
    color: white;
    font-family: "BentonSans Book";
    margin: 1em;
    padding: 1em;
    width: 80%;
    border: solid white .2em;
    border-radius: 6px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;

}

main section:nth-of-type(2) {
    background-color: #2b00ff;
    text-align: center;

    color: white;
    padding: .2em;
}

main section:last-of-type a {

    text-align: center;
    background-color: blue;
    color: white;
    font-family: "BentonSans Book";
    margin: 1em;
    padding: 1em;
    border-radius: 6px;
    font-size: 1em;
    margin-left: 5%;
}

main section img:nth-child(2) {
    width: 100%;
    margin-top: -50%;
    background-color: darkblue;
    padding: 2em;
}

h1 {
    color: white;
    font-family: "BentonSans Book";
    font-size: 1em;
    text-align: center;
    margin: 1em 3.5em;
    margin-top: auto;

}


main section:nth-of-type(2) h2 {
    margin: 1em 2em;

    margin-bottom: auto;

}


main section:nth-of-type(3) h2 {

    font-size: 200%;
    padding: .5em;
    margin: 1em;
    text-align: center;
}

main section:nth-of-type(3) img,
p {
    display: none;
}

main section:nth-of-type(3) li {
    display: block;
    list-style: none;
    text-align: center;
    padding: .5em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

main a {
    text-decoration: none;
}

main section:nth-of-type(3) h4 {

    display: flex;
    justify-content: center;
    text-decoration: none;


}

main section:nth-of-type(3) h3 {
    font-family: "BentonSans Book";
    color: black;
}

main section:nth-of-type(3) li:hover {
    transform: scale(1.1);
    transition: .5s;

}

main section:nth-of-type(3) h4 div {

    margin: .5em;
    font-size: .8em;
    text-transform: uppercase;
    color: black;

}

main section:nth-of-type(3) h4 div:first-of-type {
    color: #2b00ff;
}

main section:nth-of-type(4) {

    background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/brand-refresh-assets/common/test-only-ts4-newsletter-bg-email-opt-in-grey-mosaic-xl.png.adapt.crop16x9.320w.png);
    background-repeat: no-repeat;
    background-size: 200%;
    padding-bottom: 5em;

}

/*
main section:nth-of-type(4) li {
    display: flex;
    flex-direction: column;
    justify-content: center;




}

main section:nth-of-type(4) li:nth-of-type(1) img {

    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop1x1.767w.jpg);

}

main section:nth-of-type(4) li:nth-of-type(2) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-mobile-key-art.jpg.adapt.crop1x1.767p.jpg);
    padding: 10em;
}

main section:nth-of-type(4) li:nth-of-type(3) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop1x1.767w.jpg);
}
main section:nth-of-type(4) li:nth-of-type(4) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-freeplay-keyart.jpg.adapt.crop1x1.767w.jpg);
    padding: 10em;
}

main section:nth-of-type(4) li:nth-of-type(5) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/10/the-sims-3-keyart-2.jpg.adapt.crop1x1.767p.jpg);
    padding: 12em;
}

main section:nth-of-type(4) li:nth-of-type(6) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/mysims-keyart.jpg.adapt.crop1x1.767p.jpg);
}

main section:nth-of-type(4) li:nth-of-type(7) img {
    background-image: url(https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-2-deluxe.jpg.adapt.crop1x1.767p.jpg);
    padding: 11em;

    display: none;
}
*/

/*
main section:nth-of-type(4) img {

    display: block;
    width: 100%;
    padding: 8em;
    padding-top: 12em;
    padding-bottom: 12em;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: .5em;
    margin-left: -1em;



}
*/
/*carrousel*/
main section:nth-of-type(4) img {

    display: block;
    width: 100%;
    background-color: transparent;
    margin: auto;
    padding: 2em;

}




main section:nth-of-type(4) h2 {
    font-size: 200%;
    padding: .5em;
    margin: 1em;
    margin-bottom: 0;
    padding-top: 1.5em;
    text-align: center;


}

/*
main section:nth-of-type(4) nav li a {



    text-transform: uppercase;
    font-size: .7em;
    color: black;
    opacity: .7;




}
*/
main section:nth-of-type(4) nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -1em;


}

main section:nth-of-type(4) nav button {
    text-transform: uppercase;
    font-size: .9em;
    color: #585858;
    border: solid .25em #585858;
    padding: 1em;
    background-color: transparent;
    font-family: "The Sims Sans";
    border-radius: .3em;
}

main section:nth-of-type(4) nav button:hover {
    color: white;
    opacity: 1;
    border-color: white;
}

main section:nth-of-type(4) nav button {
    outline: none;
    cursor: pointer;
}

main section:nth-of-type(4) nav button:nth-of-type(1) {
    margin-right: 7.7em;


}

main section:nth-of-type(4) nav button:nth-of-type(2) {
    margin-left: 7.7em;
}

main section:nth-of-type(4) nav select {
    padding: 7.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: transparent;
    border: solid .2em;

}

main section:nth-of-type(5) {
    background-color: #f1f1f1
}

main section:nth-of-type(6) {
    background-color: #f1f1f1
}


main section:nth-of-type(5) h2 {
    font-size: 200%;
    padding: .5em;
    padding-top: 2em;
    margin: 1em;
    margin-top: -.5em;
    margin-bottom: auto;
}


main section:nth-of-type(5) p {
    display: block;
    font-family: "BentonSans Book";
    line-height: 1.5em;
    padding: 2.1em;
    font-size: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
}

main section:nth-of-type(5) input {
    border: solid black .2em;
    border-radius: .3em;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 85vw;
    font-size: 1em;
    color: grey .3;
    background: none;
    padding-top: 1.3em;
    outline: none;

}

main section:nth-of-type(5) input:hover {
    transform: scale(1.05);
    transition: .3s;
}


main section:nth-of-type(5) select {
    border: solid black .2em;
    border-radius: .3em;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 85vw;
    font-size: 1em;
    background: none;
}

main section:nth-of-type(5) label:nth-of-type(1) {

    font-size: .8em;
    margin-left: 4em;
    opacity: .5;

    margin-top: -5.5em;
    margin-bottom: 4em;
}

main section:nth-of-type(5) input:last-of-type {
    margin-left: -10.6em;


}


main section:nth-of-type(5) label {
    font-family: "BentonSans Book";
    font-size: .79em;
    display: block;
    line-height: 1.7em;
    margin: 2em;
    margin-top: -2.5em;
    margin-left: 5em;
}

main section:nth-of-type(6) {
    margin-top: -1em;
    padding: 2em;
    padding-left: .5em;
    padding-bottom: 6em;
}

main section:nth-of-type(6) a {
    border-radius: .2em;
    padding: 1.2em;
    padding-right: 2em;
    padding-left: 2em;
    cursor: pointer;
    background-color: #2b00ff;


}

main section:nth-of-type(6) a:hover {
    padding: 1.4em;
    padding-right: 2.2em;
    padding-left: 2.2em;
    transition-duration: .1s;
}

footer section:nth-of-type(1) {
    background-color: #e7e7e7;
    padding-top: 1em;
}

footer section {
    background-color: #f1f1f1;
    padding-left: 2em
}

main form {
    display: grid;

}

footer section:nth-of-type(1) a {
    text-decoration: none;
    font-family: "BentonSans Book";
    color: black;
    margin-left: -2.4em;
    line-height: 3em;
    padding: 3em;
    padding-left: 2.5em;

}

footer section:nth-of-type(1) a:nth-of-type(3) {

    display: block;
    padding: .5em;
    padding-left: 2.5em;
    padding-bottom: 4em;
}

footer section:nth-of-type(1) img {
    padding-right: 2em;

}

footer section:nth-of-type(1) img:nth-of-type(2) {

    padding-bottom: 1em;

}

footer section:nth-of-type(1) img:last-of-type {
    display: block;
    padding-top: 2em;
    padding-bottom: 3em;
}


footer section:nth-of-type(2) img {
    padding-top: 3em;
    padding-bottom: 1em;
    display: block;

}

footer section:nth-of-type(2) a {
    font-family: Oswald;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-right: 2.5em;
    text-align: center;
    line-height: 2em;


}

footer section:nth-of-type(2) select {
    border: solid black .7;
    border-width: .15em;
    background-color: transparent;
    border-radius: .3em;
    padding: .7em;
    padding-left: 2em;
    display: block;
    width: 85vw;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer section:nth-of-type(3) {
    font-family: "BentonSans Book";
    padding-top: 3em;
    margin-top: -2em;
}

footer section:nth-of-type(3) a {
    text-decoration: none;
    color: black;
    padding-right: 2em;
    text-align: center;
    font-size: .9em;
    font-family: seravek;
    line-height: 3em;

}

footer section:nth-of-type(3) div {
    text-decoration: none;
    color: black;
    padding-right: 2em;

    font-size: .9em;
    font-family: seravek;
    line-height: 3em;
    padding-bottom: 5em;

}

main .brief:nth-of-type(1) {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(2, 2, 101, 1) 0%, rgba(0, 0, 255, 1) 34%);
}

main .brief:nth-of-type(1) {
    padding: 3em;
    color: white;

}

main .brief:nth-of-type(1) h1 {
    text-align: left;
    margin: auto;
    line-height: 1.5em;

}

main .brief:nth-of-type(1) div {
    background-color: white;
    padding: .3em;
    margin-right: 15em;
    margin-top: 1.5em;
}

.brief:nth-of-type(2) p {
    display: block;
    background-color: white;
    color: black;
    font-family: "BentonSans Book";
    line-height: 1.4em;

}

main .brief:nth-of-type(2) h1 {
    text-align: left;
    color: black;
    margin-top: 2em;
    margin-left: auto;
}

main .brief:nth-of-type(2) {

    background-color: white;
    color: black;
    text-align: left;
    font-size: 1.05em;
    padding: 1.5em;


}

main .brief:nth-of-type(2) a {
    background-color: white;
    color: black;
    text-align: left;
    font-size: 1.05em;
    margin: auto;
    margin-left: em;
    padding: inherit;
    line-height: 1.4em;
    margin-top: -1.3em;
    padding-top: 0;
    margin-right: auto;
    width: 80vw;


}

main .brief:nth-of-type(2) li {
    padding-top: 1em;
    color: blue;


}

main .brief:nth-of-type(3) li {
    display: block;

    list-style: none;
    text-align: center;
    padding: .5em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


main .brief:nth-of-type(3) div {
    font-family: "The Sims Sans";
}

main .brief:last-of-type a {
    background: transparent;
}

main .brief:nth-of-type(2) a:hover {
    transform: scale(1);
    cursor: text;

}

main .brief:nth-of-type(3) img {}

@media(min-width: 31.7em) {
    .driehoek {
        display: none;
    }
}


/*MEDIAQUERY 1*/


@media(min-width: 50em) {

    header {
        font-family: "BentonSans Regular";
        position: fixed;
        width: 100%;
        max-width: 100%;
        padding: .5em;
        background-color: white;
        display: block;


    }


    header nav {

        transform: none;
        transition: none;
        display: flex;
        justify-content: flex-start;
        top: .7em;
    }

    header button {
        display: none;

    }





    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 5em;


    }



    header nav li a {

        color: black;
        text-align: left;
        padding: 1em;

        text-decoration: none;
        font-size: .8em;
        border: none;
        padding-bottom: 0;

    }

    header nav li a:hover {
        color: blue;
        display: block;
    }

    main section:nth-of-type(1) {
        display: flex;
        background-color: #2b00ff;
        height: 70vh;

    }

    main section:nth-of-type(1) article:nth-of-type(1) img {
        margin-top: auto;
        width: 50%;
        margin-left: 50%;
        background: none;
        background-color: #2b00ff;
    }

    main section:nth-of-type(1) article:nth-of-type(2) {
        margin-top: auto;
        position: absolute;
        width: 50%;
        background-color: transparent;

    }

    main section:nth-of-type(1) article {
        background-color: #2b00ff;
    }

    main section:nth-of-type(1) article:nth-of-type(2) img {
        background-color: transparent;
    }

    main section:nth-of-type(1) a {
        background-color: #2b00ff;

    }

    main section:nth-of-type(1) ul li:nth-of-type(1) a {
        width: 12em;

    }

    main section:nth-of-type(1) ul li:nth-of-type(2) a {
        width: 8em;
        margin-left: 2em;

    }

    main section:nth-of-type(1) ul {
        display: flex;
        justify-content: center;
        margin-top: 2em;


    }

    main section:nth-of-type(1) h1 {
        font-size: 1.5em;
    }

    main section:nth-of-type(2) {
        position: absolute;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-around;

        background-color: #1500b3;
        align-items: center;




    }

    main section:nth-of-type(2) h2 {
        text-align: start;
        margin-bottom: 1em;
        width: 50%;
        background-color: #1500b3;
    }

    main section:nth-of-type(2) a {
        text-align: center;
        margin-bottom: 1em;
        width: 10em;
        margin-right: 10%;
        background-color: #1500b3;
        height: auto;

    }

    main section:nth-of-type(3) li img {
        display: block;
    }

    main section:nth-of-type(3) ul {
        display: flex;
        justify-content: center;

    }

    main section:nth-of-type(3) li {
        width: 20em;

        text-align: start;
    }

    main section:nth-of-type(3) li img {
        width: 19em;

    }

    main section:nth-of-type(3) li p {
        display: block;
        font-family: sans-serif;
        font-weight: 200;
        font-size: .9em;
        color: black;
        line-height: 1.8em;
        text-align: start;
    }

    main section:nth-of-type(3) li h4 {
        justify-content: flex-start;
    }

    main section:nth-of-type(4) {
        background-size: 100%
    }

    main section:nth-of-type(4) img {
        width: 25em;

    }

    main section:nth-of-type(4) .prev {


        left: 30%;

    }

    main section:nth-of-type(4) .next {

        right: 30%;

    }

    main section:nth-of-type(5) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        align-items: baseline;
        padding-left: 8vw;
    }

    main section:nth-of-type(5) input {
        width: 35vw;
        margin-left: 0;
    }

    main section:nth-of-type(5) select {
        width: 35vw;
        margin-left: 0;
    }

    main section:nth-of-type(5) label {
        width: 33vw;
        margin-left: 2em;
    }

    main section:nth-of-type(5) input:nth-of-type(3) {
        width: 2vw;
        margin-left: 0;
        margin-top: 2em;
    }

    main section:nth-of-type(6) {
        display: grid;
        grid-template-columns: 20fr 20fr 20fr 20fr;


    }

    main section:nth-of-type(6) a {

        grid-column-end: 4;
        margin-left: 5em;
        max-width: 10em;
    }

    footer section:nth-of-type(2) select {
        width: 30%;
    }

    main .brief:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;
        padding: 3em;
        color: white;
        height: 40vh;
        align-items: flex-start;
        width: 100vw;

    }

    main .brief:nth-of-type(1) h1 {
        text-align: left;
        margin: auto;
        line-height: 1.5em;
        height: 10em;
        margin-left: -100%;
        width: 80vw;

        margin-top: 5em;



    }

    main .brief:nth-of-type(1) h2 {

        margin-top: 1.5em;
        width: 100%;
        font-size: 2em
    }

    main .brief:nth-of-type(1) div {
        display: none;
    }




    main .brief:nth-of-type(2) {
        position: relative;
        width: 100vw;
        display: block;
        padding: 7vw;
        padding-top: 0;

    }

    main .brief:nth-of-type(2) a {
        padding-left: 1em;

    }



    main .brief:nth-of-type(2) img:nth-of-type(1) {
        width: 30vw;

        margin-left: 20%
    }

    main .brief:nth-of-type(2) img:nth-of-type(2) {

        width: 25vh;

    }


    main .brief:nth-of-type(3) {
        display: block;
        height: 50vh;
        margin-bottom: 20vh;





    }


}


/*MEDIA QUERY 2*/

@media(min-width: 70em) {
    main section:nth-of-type(1) {
        height: 90vh;
    }


    main section:nth-of-type(5) input:nth-of-type(3) {
        width: 2vw;
        margin-left: -.5em;

    }

    main .brief:nth-of-type(2) {
        width: 100vw;
        display: block;
        padding: 10vw;
        padding-top: 0;
        padding-bottom: 0;
    }


}
